{% extends "base.html.twig" %}


{% block body %}
    <h1 class="text-center">
        {% set letters = letters('Home') %}
        {% include 'components/_google_letters.html.twig' %}
    </h1>


{% endblock body %}

