{% extends "base.html.twig" %}

{% block body %}
    <h1>
        <span class="text-primary">H</span>
        <span class="text-danger">o</span>
        <span class="text-warning">m</span>
        <span class="text-success">e</span>

     </h1>
{% endblock body %}

